%h2 注文情報の編集

= form_for @order do |form|
  .field
    = form.label :name, "氏名："
    = form.text_field :name, :size => 40

  .field
    = form.label :address, "住所："
    = form.text_area :address, :rows => 3, :cols => 40

  .field
    = form.label :email, "Ｅメール："
    = form.text_field :email, :size => 40

  .field
    = form.label :pay_type, "支払い方法："
    = form.select :pay_type, Order::PAYMENT_TYPES

  %br

  %h3 売上明細

  = form.fields_for :line_items do |line_item_form|
    .field
      = line_item_form.label :product, "商品"
      = line_item_form.collection_select :product_id, Product.all, :id, :name, :include_blank => "---"

      = line_item_form.label :quantity, "数量"
      = line_item_form.text_field :quantity, :size => 5

  .actions
    = form.submit "保存", :class => "submit"

%p
  =link_to "戻る", orders_path
%br

