.cart-title 買い物カゴ

%table
  - @cart.items.each do |item|
    %tr
      %td
        = item.name
        &times;
        = item.quantity 
      %td.item-price
        = number_with_delimiter(item.price)
        円

  %tr.total-line
    %td 合計）
    %td.total-cell
      = number_with_delimiter(@cart.total_price)
      円

= button_to "買い物カゴを空にする", :action => "empty_cart"

