%h3 売れ筋商品
- @hot_selling_products.each_with_index do |product, i|
  %p.name
    #{i+1}位：#{product.name}

%h3 新着商品
- @new_item.each do |product|
  %p.name
    = product.name

%h3 商品一覧

- @products.each do |product|
  %div.product
    = image_tag(product.image_url, :class => "photo")
    %p.name
      = product.name
    %p.description
      = simple_format(product.description)
    %div.price_line
      %span.price
        = product.price
        円
    /= button_to "買い物カゴに入れる", :action => 'add_to_cart', :id => product

    = form_tag({:action => "add_to_cart", :id => product}, :remote => true, :class => "order") do
      = submit_tag '買い物カゴに入れる'

= will_paginate @products
%br
